In [1]:
import pandas as pd

In [2]:
s = pd.Series([4, 5, 3, 1], index=["Almaty", "Astana", "Shymkent", "Aktau"])

In [3]:
for i in s:
    print(i)

4
5
3
1

In [4]:
s["Almaty"]

4

In [5]:
s.iloc[0]

4

In [6]:
s_2019 = pd.Series([4, 5, 3, 1], index=["Almaty", "Astana", "Shymkent", "Aktau"])
s_2020 = pd.Series([4, 5, 3, 1], index=["Almaty", "Shymkent", "Atyrau", "Astana"])
# O(N^2)
# O(N^1)

In [7]:
s_2019 + s_2020

Aktau       NaN
Almaty      8.0
Astana      6.0
Atyrau      NaN
Shymkent    8.0
dtype: float64

In [8]:
df = pd.DataFrame({
    "2019": s_2019,
    "2020": s_2020,
})

df["sum"] = df["2019"] + df["2020"]

In [9]:
for i, row in df.iterrows():
    print("!!!")
    print(i, "\n", row)
    print()

!!!
Aktau
 2019    1.0
2020    NaN
sum     NaN
Name: Aktau, dtype: float64

!!!
Almaty
 2019    4.0
2020    4.0
sum     8.0
Name: Almaty, dtype: float64

!!!
Astana
 2019    5.0
2020    1.0
sum     6.0
Name: Astana, dtype: float64

!!!
Atyrau
 2019    NaN
2020    3.0
sum     NaN
Name: Atyrau, dtype: float64

!!!
Shymkent
 2019    3.0
2020    5.0
sum     8.0
Name: Shymkent, dtype: float64

In [10]:
a = [
    [1, None],
    [4, 4],
    [5, 1],
    [None, 3],
]

In [11]:
a = df.to_numpy()

In [12]:
a

array([[ 1., nan, nan],
       [ 4.,  4.,  8.],
       [ 5.,  1.,  6.],
       [nan,  3., nan],
       [ 3.,  5.,  8.]])

In [13]:
a[1][1]

4.0

In [14]:
a = {
    "Almaty": 4,
    "Astana": 5,
    "Shymkent": 3,
    "Aktau": 1,
}

In [15]:
a.values()

dict_values([4, 5, 3, 1])

In [16]:
hash("Almaty") % 10

3

In [1]:
import pandas as pd
df = pd.read_excel("study/Schools Data.xlsx")

In [3]:
df.school_type

0       общеобразовательная школа, опорная школа (ресу...
1                               общеобразовательная школа
2       общеобразовательная школа, интернат при общеоб...
3                               общеобразовательная школа
4       общеобразовательная школа, малокомплектная шко...
                              ...
6059                            общеобразовательная школа
6060                                      начальная школа
6061            общеобразовательная школа, школа-гимназия
6062                            общеобразовательная школа
6063                            общеобразовательная школа
Name: school_type, Length: 6064, dtype: object

In [5]:
print('да: ', df.museum.value_counts()[1]/(df.museum.value_counts()[1] + df.museum.value_counts()[0]))
print('no ', df.museum.value_counts()[0]/(df.museum.value_counts()[1] + df.museum.value_counts()[0]))
# df.museum.value_counts()[1]

да:  0.24393864423552697
no  0.7560613557644731

In [11]:
df.dtypes

Unnamed: 0                    int64
ID                            int64
region                       object
school_type                  object
total_students_2018           int64
                             ...
drinking_water_presence      object
qedu_top_uni                float64
qedu_passed_ent             float64
qedu_continued_education    float64
qedu_elite_achievements     float64
Length: 212, dtype: object

In [11]:
df.school_type.value_counts()

общеобразовательная школа                                                                                       2430
общеобразовательная школа, малокомплектная школа                                                                1206
основная средняя школа, малокомплектная школа                                                                    719
начальная школа, малокомплектная школа                                                                           529
общеобразовательная школа, школа-гимназия                                                                        174
                                                                                                                ...
специализированный лицей (специализированная школалицей), лицейинтернат 'Білім инновация'                          1
общеобразовательная школа, интернат при общеобразовательной школе, школалицей                                      1
общеобразовательная школа, малокомплектная школа, школаинтернат                                                    1
общеобразовательная школа, гимназия, опорная школа (ресурсный центр), интернат при общеобразовательной школе       1
общеобразовательная школа, школа-интернат, школа-гимназия                                                          1
Name: school_type, Length: 72, dtype: int64

In [12]:
df.head(5)

,Unnamed: 0,ID,region,school_type,total_students_2018,total_after_9_2018,total_after_11_2018,diff_teens_2018,deficit_places_2018,3_times_school_2018,...,total_students_9,total_students_10,total_students_11,nationality_diversity_index,load_ratio,drinking_water_presence,qedu_top_uni,qedu_passed_ent,qedu_continued_education,qedu_elite_achievements
0,0,1,Акмолинская область,"общеобразовательная школа, опорная школа (ресу...",833,70,42.0,8.0,0.0,0,...,0.081464,0.018890,0.049587,0.904265,1.366129,да,0.047619,1.000000,1.000000,0.056856
1,1,2,Акмолинская область,общеобразовательная школа,528,52,18.0,0.0,0.0,0,...,0.098901,0.047619,0.031136,0.889412,1.011111,да,0.222222,1.000000,1.000000,0.014740
2,2,3,Акмолинская область,"общеобразовательная школа, интернат при общеоб...",714,56,37.0,2.0,0.0,0,...,0.073834,0.034974,0.051813,0.350848,0.919048,да,0.108108,0.909091,1.000000,0.050197
3,3,4,Акмолинская область,общеобразовательная школа,354,33,18.0,0.0,21.0,0,...,0.085427,0.022613,0.045226,0.861186,1.658333,да,0.000000,0.888889,0.969697,0.000000
4,4,5,Акмолинская область,"общеобразовательная школа, малокомплектная шко...",139,20,15.0,0.0,0.0,0,...,0.134615,0.044872,0.096154,0.902487,0.331915,да,0.066667,0.857143,1.000000,0.000000

In [6]:
# 00000000010011
# 00000000101101

# 01
# 11
# 11

# 00000000000001

In [13]:
df.columns

Index(['Unnamed: 0', 'ID', 'region', 'school_type', 'total_students_2018',
       'total_after_9_2018', 'total_after_11_2018', 'diff_teens_2018',
       'deficit_places_2018', '3_times_school_2018',
       ...
       'total_students_9', 'total_students_10', 'total_students_11',
       'nationality_diversity_index', 'load_ratio', 'drinking_water_presence',
       'qedu_top_uni', 'qedu_passed_ent', 'qedu_continued_education',
       'qedu_elite_achievements'],
      dtype='object', length=212)

In [23]:
df[df.school_type_basic.isin(["Гимназия", "Лицей"])][['qedu_top_uni', 'qedu_passed_ent', 'qedu_continued_education', 'qedu_elite_achievements']].mean()

qedu_top_uni                0.077218
qedu_passed_ent             0.917604
qedu_continued_education    0.991964
qedu_elite_achievements     0.021340
dtype: float64

In [24]:
df[(df.school_type_basic == "Гимназия") | (df.school_type_basic == "Лицей")][['qedu_top_uni', 'qedu_passed_ent', 'qedu_continued_education', 'qedu_elite_achievements']].mean()

qedu_top_uni                0.077218
qedu_passed_ent             0.917604
qedu_continued_education    0.991964
qedu_elite_achievements     0.021340
dtype: float64

In [25]:
df[df.school_type_basic == "Лицей"][['qedu_top_uni', 'qedu_passed_ent', 'qedu_continued_education', 'qedu_elite_achievements']].mean()

qedu_top_uni                0.088929
qedu_passed_ent             0.917652
qedu_continued_education    0.992966
qedu_elite_achievements     0.021200
dtype: float64

In [26]:
df[df.school_type_basic == "Обычная школа"][['qedu_top_uni', 'qedu_passed_ent', 'qedu_continued_education', 'qedu_elite_achievements']].mean()

qedu_top_uni                0.017545
qedu_passed_ent             0.843463
qedu_continued_education    0.992822
qedu_elite_achievements     0.007441
dtype: float64

In [27]:
list(df.columns)

['Unnamed: 0',
 'ID',
 'region',
 'school_type',
 'total_students_2018',
 'total_after_9_2018',
 'total_after_11_2018',
 'diff_teens_2018',
 'deficit_places_2018',
 '3_times_school_2018',
 'barrier_free_2018',
 'stud_have_book_count_2018',
 'ip_higher_4mb_2018',
 'poor_fams_2018',
 'poor_fams_food_2018',
 'dorms_for_villages_2018',
 'total_teachers_2018',
 'teachers_1_category_2018',
 'higher_edu_teachers_2017',
 'master_teachers',
 'out_of_system_teachers_2018',
 'in_emergency_2018',
 'need_repair_2018',
 'school_city_dist',
 'only_out_toilet_2018',
 'school_density_in_10km',
 'school_density_in_3km',
 'school_density_in1.5km',
 'out_in_toilets_2018',
 'total_comp_2018',
 'interactive_boards_2017',
 'cameras__2017',
 'messa_2018',
 'sport_stud',
 'art_stud',
 'appl_art_stud',
 'technical_stud',
 'soc_student',
 'bio_eco_stud',
 'tourist_stud',
 'nat_math_stud',
 'lang_stud',
 'other_stud',
 'add_edu_stud',
 'high_category_teachers_2018',
 'eng_informatics_teachers',
 'eng_phys_teachers',
 'eng_chem_teachers',
 'eng_bio_teachers',
 'location',
 'tip_organizacii_obrazovaniya',
 'open_date',
 'student_delivery',
 'magnet_school',
 'num_libraries',
 'library_area',
 'number_library_reading_rooms',
 'library_reading_room_sitting_places',
 'library_num_of_readers',
 'library_num_of_visits',
 'given_books',
 'library_books_overall',
 'ebooks_count_2017',
 'canteen',
 'canteen_places',
 'buffet',
 'buffet_places',
 'nutrition_in_apapted_premises',
 'computer_availability_2017',
 'computer_overall_2017',
 'computer_w_internet_2017',
 'computers_education',
 'computer_for_teacher_2017',
 'comp_count_need_repair_2017',
 'internet_speed_mbit_2017',
 'interactive_boards_2017.1',
 'gym_2017',
 'gym_equipment_2017',
 'civil_protection_alert_system_2017',
 'panic_button_2017',
 'tourniquet_2017',
 'museum',
 'camp_2017',
 'building_type_typical',
 'heating_type_2017',
 'building_condition_2017',
 'building_type_2017',
 'building_capacity_2017',
 'hot_water_2017',
 'import_water',
 'building_area_2017',
 'building_working_area_2017',
 'building_ownership_2017',
 'landscaping',
 'toilet_2017',
 'classrooms_num',
 'classrooms_area',
 'lingaphone_cab_2017',
 'lingaphone_multimedia_cab_2017',
 'med_cab_2017',
 'edu_lang_2017',
 'future_edu_lang_2017',
 'spec_school_2017',
 'edu_from_class_num_2017',
 'spec_edu_from_class_num_2017',
 'deep_spec_edu_classes_2017',
 'clubs_2017',
 'musical_club',
 'shift_count_2017',
 'special_classes',
 'prolonged_day_groups',
 'combined_class_2017',
 'class_count_2017',
 'class_count_1_shift_2017',
 'class_count_2_shift_2017',
 'class_count_3_shift_2017',
 'class_count_4_shift_2017',
 'total_after_9_2017',
 'college_after_9_2017',
 'applied_10_after_9_2017',
 'total_after_11_2017',
 'total_teachers_2017',
 'academic_degree_teachers_2017',
 'qualified_teachers_2017',
 'eng_lang_teachers_2017',
 'out_of_system_teachers_2017',
 'need_teachers_2017',
 'staff_num',
 'zavuch_num',
 'high_category_teachers_2017',
 'teachers_1_category_2017',
 'teachers_2_category_2017',
 'teachers_no_category_2017',
 'experience_teachers_under_3_years_2017',
 'experience_teachers_between_3_5_years_2017',
 'experience_teachers_between_6_10_years_2017',
 'experience_teachers_between_11_15_years_2017',
 'experience_teachers_between_16_20_years_2017',
 'experience_teachers_20+_years_2017',
 'higher_edu_teachers_2017.1',
 'tech_spec_edu_teachers_2017',
 'middle_edu_teachers_2017',
 'age_teachers_under_25_2017',
 'age_teachers_between_25_29_2017',
 'age_teachers_between_30_34_2017',
 'age_teachers_between_35_39_2017',
 'age_teachers_between_40_44_2017',
 'age_teachers_between_45_49_2017',
 'age_teachers_between_50_54_2017',
 'age_teachers_between_55_59_2017',
 'age_teachers_59+_years_2017',
 'retired_age_man_teachers_2017',
 'retired_age_woman_teachers_2017',
 'total_students_2017',
 'boys_2017',
 'girls_2017',
 'evening_students',
 'using_clubs_students_2017',
 'students_without_parents_2017',
 'disabled_students',
 'students_without_parent_help_2017',
 'student_with_financial_aid',
 'student_books_2017',
 'hot_food_2017',
 'free_hot_food_2017',
 'student_edu_lang_rus_2017',
 'student_edu_lang_kaz_2017',
 'student_edu_lang_uyghur_2017',
 'student_edu_lang_uzbek_2017',
 'student_edu_lang_tadjik_2017',
 'russian_students',
 'kazakh_students',
 'other_nationality_students',
 'classrooms_per_student',
 'classroom_average_area',
 'working_area_ratio',
 'diagnostic_cab',
 'audiologist_cab',
 'psychiatrist_cab',
 'dentist_cab',
 'psychologist_cab',
 'no_special_cabs',
 'medical_physical_cab',
 'neuropatologist_cab',
 'medical_cab',
 'pedagog_psychologist_cab',
 'кабинет психиатра ',
 'police_inspector_cab',
 'speech_terapist_cab',
 'ophtalmologist_cab',
 'average_students_per_class',
 'average_students_per_teacher',
 'average_staff_per_area',
 'sex_diversity_index',
 'total_students_1',
 'total_students_2',
 'total_students_3',
 'total_students_4',
 'total_students_5',
 'total_students_6',
 'total_students_7',
 'total_students_8',
 'total_students_9',
 'total_students_10',
 'total_students_11',
 'nationality_diversity_index',
 'load_ratio',
 'drinking_water_presence',
 'qedu_top_uni',
 'qedu_passed_ent',
 'qedu_continued_education',
 'qedu_elite_achievements',
 'school_type_basic',
 'school_type_low_volume',
 'school_type_internat']

In [28]:
df.groupby('region')[['computer_overall_2017', 'experience_teachers_20+_years_2017']].mean()

,computer_overall_2017,experience_teachers_20+_years_2017
region,,
Акмолинская область,0.126803,0.387371
Актюбинская область,0.116793,0.329272
Алматинская область,0.150056,0.347602
Атырауская область,0.151705,0.400969
Восточно-Казахстанская область,0.159419,0.404322
Жамбылская область,0.118509,0.329196
Западно-Казахстанская область,0.128566,0.361260
Карагандинская область,0.198977,0.400941
Костанайская область,0.105919,0.375599
Кызылординская область,0.087975,0.365105
Мангистауская область,0.110535,0.306504
Павлодарская область,0.259446,0.346727
Северо-Казахстанская область,0.223748,0.388080
Туркестанская область,0.078864,0.332943
г.Алматы,0.078781,0.401240
г.Астана,0.081721,0.404728
г.Шымкент,0.137755,0.375000

In [29]:
df.school_type.value_counts()

общеобразовательная школа                                                                                       2430
общеобразовательная школа, малокомплектная школа                                                                1206
основная средняя школа, малокомплектная школа                                                                    719
начальная школа, малокомплектная школа                                                                           529
общеобразовательная школа, школа-гимназия                                                                        174
                                                                                                                ...
специализированный лицей (специализированная школалицей), лицейинтернат 'Білім инновация'                          1
общеобразовательная школа, интернат при общеобразовательной школе, школалицей                                      1
общеобразовательная школа, малокомплектная школа, школаинтернат                                                    1
общеобразовательная школа, гимназия, опорная школа (ресурсный центр), интернат при общеобразовательной школе       1
общеобразовательная школа, школа-интернат, школа-гимназия                                                          1
Name: school_type, Length: 72, dtype: int64

In [30]:
def get_gimn_lic(t):
    if "гимназ" in t.lower():
        return "Гимназия"
    if "лицей" in t.lower():
        return "Лицей"
    return "Обычная школа"

df['school_type_basic'] = df['school_type'].apply(get_gimn_lic)
df['school_type_low_volume'] = df['school_type'].apply(lambda x: "малокомпл" in x.lower())
df['school_type_internat'] = df['school_type'].apply(lambda x: "интернат" in x.lower())

In [31]:
df['school_type_internat'].value_counts()

False    5690
True      374
Name: school_type_internat, dtype: int64

In [32]:
df1 = pd.DataFrame({
    "A": [1, 2, 3],
    "B": [4, 5, 6]
}, index=["a", "b", "c"])

df2 = pd.DataFrame({
    "A": [1, 2, 4],
    "C": [5, 6, 7]
}, index=["a", "b", "d"])

In [33]:
df1

   A  B
a  1  4
b  2  5
c  3  6

In [19]:
df2

   A  C
a  1  5
b  2  6
d  4  7

In [20]:
pd.concat([df1, df2], axis=0)

   A    B    C
a  1  4.0  NaN
b  2  5.0  NaN
c  3  6.0  NaN
a  1  NaN  5.0
b  2  NaN  6.0
d  4  NaN  7.0

In [21]:
pd.concat([df1, df2], axis=1)

     A    B    A    C
a  1.0  4.0  1.0  5.0
b  2.0  5.0  2.0  6.0
c  3.0  6.0  NaN  NaN
d  NaN  NaN  4.0  7.0

In [25]:
df1 = pd.DataFrame({
    "A": [1, 2, 3],
    "B": [4, 5, 6]
}, index=["a", "b", "c"])

df2 = pd.DataFrame({
    "A": [1, 2, 4],
    "C": [5, 6, 7]
}, index=["a", "b", "d"])

In [27]:
df1.merge

<bound method DataFrame.merge of    A  B
a  1  4
b  2  5
c  3  6>

In [24]:
df1.merge(df2, on="A", how="right")

   A    B  C
0  1  4.0  5
1  2  5.0  6
2  4  NaN  7

In [165]:
pd.merge(df1, df2, on="A", how="outer")

   A    B    C
0  1  4.0  5.0
1  2  5.0  6.0
2  3  6.0  NaN
3  4  NaN  7.0

In [25]:
for i in range(1, 6):
    print([i for i in range(1, i+1)])

<generator object <genexpr> at 0x00000259A8366580>
<generator object <genexpr> at 0x00000259A8366580>
<generator object <genexpr> at 0x00000259A8366580>
<generator object <genexpr> at 0x00000259A8366580>
<generator object <genexpr> at 0x00000259A8366580>

In [ ]:
'''function:
built-in functions - функции, которые уже встроенны в питон
'''